@import "responsive";
@import "variables";
@import "fontAwesome";

.asideWrapper {
  width: 30%;
  min-width: 200px;

  .responsive(@mq-mobileMin, @mq-smartphoneMax, {
    width: 100%;
  });
}

.asideWidget {
  padding: 20px 10px;
  border-bottom: 1px solid  @c-borderLine;
}

.asideWidget__title {
  color: @c-asideWidgetTittle;
  margin-bottom: 20px;
}

.asideWidget__list {
  color: @c-secondaryText;
}

.u-fs-8 {
  font-size: 0.8em;
}

.u-mb-10:not(:last-child) {
  margin-bottom: 10px;
}

// Customization

.topic__item > :first-child {

  :before {
    .fontAwesome("\f138", 1.1em);
    margin-right: 5px;
    color: @c-topicItemIcon;
  }

  :hover {
    color: @c-linkHighlighting;
  }
}

.recentPost__title:hover {
  color: @c-linkHighlighting;
}

.twitter__link {
  display: block;
  color: @c-linkHighlighting;
}

.asideWidget--tags {
  .asideWidget__list {
    display: flex;
    flex-wrap: wrap;
  }
}


// bug ///////*****************/////////
.tag__item  {
  margin-right: 4px;
  padding: 5px;
  background-color: @c-blockBackground;
  margin-bottom: 4px;
  font-size: .9em;
  font-weight: 400;

  &:hover {
    background-color: @c-linkHighlighting;
  }
  & > :first-child:hover{
    color: @c-textHighlighting;
  }
}

.asideWidget--calendar {
  padding-left: 0;

  .responsive(@mq-mobileMin, @mq-mobileMax, {
    margin: 0 auto;
  });
}

.calendar {
  margin: 0 auto;
  font-size: 0.7em;
  color: @c-secondaryText;

  table {
    width: 90%;
    margin: 0 auto;
  }

  caption {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  td, th {
    padding: 4px;
    text-align: center;
    cursor: default;
  }
  th {
    color: @c-calendarDayHighlighting;
  }

  .active, .toDay {
    background-color: @c-blockBackground;
  }

  td:hover {
    background-color: @c-calendarDayHighlighting;
    color: @c-textHighlighting;
  }
}

.asideWidget__commentator {
  color: @c-linkHighlighting;
}


.recentComment__item >:first-child:hover {
  color: @c-linkHighlighting;
}
