.asideWrapper {
  width: 30%;
  min-width: 200px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .asideWrapper {
    width: 100%;
  }
}
.asideWidget {
  padding: 20px 10px;
  border-bottom: 1px solid #3b3b3b;
}
.asideWidget__title {
  color: #fff;
  margin-bottom: 20px;
}
.asideWidget__list {
  color: #878787;
}
.u-fs-8 {
  font-size: 0.8em;
}
.u-mb-10:not(:last-child) {
  margin-bottom: 10px;
}
.topic__item > :first-child :before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f138";
  font-size: 1.1em;
  margin-right: 5px;
  color: #4794ba;
}
.topic__item > :first-child :hover {
  color: #4794ba;
}
.recentPost__title:hover {
  color: #4794ba;
}
.twitter__link {
  display: block;
  color: #4794ba;
}
.asideWidget--tags .asideWidget__list {
  display: flex;
  flex-wrap: wrap;
}
.tag__item {
  margin-right: 4px;
  padding: 5px;
  background-color: #3b3b3b;
  margin-bottom: 4px;
  font-size: .9em;
  font-weight: 400;
}
.tag__item:hover {
  background-color: #4794ba;
}
.tag__item > :first-child:hover {
  color: #fff;
}
.asideWidget--calendar {
  padding-left: 0;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .asideWidget--calendar {
    margin: 0 auto;
  }
}
.calendar {
  margin: 0 auto;
  font-size: 0.7em;
  color: #878787;
}
.calendar table {
  width: 90%;
  margin: 0 auto;
}
.calendar caption {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}
.calendar td,
.calendar th {
  padding: 4px;
  text-align: center;
  cursor: default;
}
.calendar th {
  color: #1fa3e3;
}
.calendar .active,
.calendar .toDay {
  background-color: #3b3b3b;
}
.calendar td:hover {
  background-color: #1fa3e3;
  color: #fff;
}
.asideWidget__commentator {
  color: #4794ba;
}
.recentComment__item > :first-child:hover {
  color: #4794ba;
}
