.postsList {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid @border-line;
}

// breadCrumbs
.breadCrumbs {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  max-width: 560px;
  width: 100%;
  margin: 10px;
  color: @secondary-text;
}

.breadCrumbs__item:not(:first-child):before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f054";
  font-size: 0.6em;
  margin-left: 4px;
  margin-right: 2px;
}

.breadCrumbs__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: @secondary-text;
}

.breadCrumbs__item:last-child {
  flex: 10 0 auto;
  text-overflow: clip;
}

.breadCrumbs__item:hover {
  color: black;
}

// header of article
.post__header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid @border-line;
}

// badge of post
.postBadge {
  display: flex;
  align-items: center;
  height: 60px;
  width: 34%;
  margin-left: -60px;
  margin-right: 10px;
  color: @badge-text-color;
}

// decorating post
.post--text {
  .postBadge {
    background-color: @badge__text;
  }

  .postBadge__label:before {
    content: "\f040";
  }

  .postPreview__readMore {
    .decorateButton(@badge__text);
  }
}

.post--photo {
  .postBadge {
    background-color: @badge__photo;
  }

  .postBadge__label:before {
    content: "\f030";
  }


  .postPreview__readMore {
    .decorateButton(@badge__photo);
  }
}


.post--video {
  .postBadge {
    background-color: @badge-video;
  }

  .postBadge__label:before {
    content: "\f06e";
  }

  .postPreview__readMore {
    .decorateButton(@badge-video);
  }
}

.postBadge__label {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  color: #fff;
  border-right: 1px solid @border-line;
}

.postBadge__date {
  flex: 1 1 auto;
  text-align: center;
}

// body of article
.postPreview {
  margin: 0 30px;
  padding-bottom: 10px;
}

.postPreview__title,
.postPreview__img,
.postPreview__description,
.postPreview__readMore {
  margin-bottom: 30px;
}

.postPreview__img {
  display: flex;
  width: 100%;
  height: 250px;
}


.button {
  font-family: 'Nunito',sans-serif;
  position: relative;
  padding: .8em  4.7em .8em 1.4em;
  color: white;
  transition: .2s;
  min-width: 15em;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: inherit;
    width: 2.8em;
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    transition: .2s;
  }
}


.decorateButton(@color) {
  background-color: @color;
  &:hover {
    background: darken(@color, 5%);
  }
  &:active,
  &:focus {
    background: darken(@color, 20%);
  }
}

.postPreview__readMore {
  &:after {
    content: "\F054";
  }
  &:hover:after {
    animation: bounceright .3s alternate ease infinite;
  }
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}
