@import "responsive";

.postsList {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid @border-line;

  .responsive(@media-mobileMin, @media-smartphonesMax, {
    border-right: 0;
    width: 100%;
  });
}


// breadCrumbs
.breadCrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin: 10px;
  color: @secondary-text;
}

.breadCrumbs__item:not(:first-child):before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f054";
  font-size: 0.6em;
  margin-left: 4px;
  margin-right: 2px;
}

.breadCrumbs__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: @secondary-text;
}

.breadCrumbs__item:last-child {
  flex: 10 0 auto;
  text-overflow: clip;
}

.breadCrumbs__item:hover {
  color: @breadCrumb-highlighting;
}

// header of article
.post__header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid @border-line;

  .responsive(@media-mobileMin, @media-smartphonesMax, {
    flex-direction: column;
    height: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid @border-line;
    .tags {
      flex-direction: column;
      width: 100%;
      margin: 10px 0;
    }
  });
}
// badge of post
.postBadge {
  display: flex;
  align-items: center;
  height: 60px;
  width: 34%;
  margin-left: -60px;
  margin-right: 10px;
  color: @badge-text-color;

  .responsive(@media-mobileMin, @media-smartphonesMax, {
    width: 100%;
    height: 40px;
    margin: 0;
  });
}

// decorating post
.post--text {
  .postBadge {
    background-color: @badge__text;
  }

  .postBadge__label:after {
    content: "\f040";
  }

  .postPreview__readMore {
    .decorateButton(@badge__text);
  }
}

.post--photo {
  .postBadge {
    background-color: @badge__photo;
  }

  .postBadge__label:before {
    content: "\f030";
  }


  .postPreview__readMore {
    .decorateButton(@badge__photo);
  }
}


.post--video {
  .postBadge {
    background-color: @badge-video;
  }

  .postBadge__label:before {
    content: "\f06e";
  }

  .postPreview__readMore {
    .decorateButton(@badge-video);
  }
}

.postBadge__label {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  color: #fff;
  border-right: 1px solid @border-line;
}

.postBadge__date {
  flex: 1 1 auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 0.7em;
}

// body of article
.postPreview {
  margin: 0 15px;
  padding-bottom: 10px;

  .responsive(@media-mobileMin, @media-smartphonesMax, {
    margin: 0;
  })
}

.postPreview__title,
.postPreview__img,
.postPreview__description,
.postPreview__readMore {
  margin-bottom: 30px;

  .responsive(@media-mobileMin, @media-mobileMax, {
    margin-bottom: 10px;
  });
}

.postPreview__img {
  width: 100%;
  height: auto;
  max-height: 250px;
}

.postPreview__description {
  color: @secondary-text;
}


.button {
  font-family: 'Nunito',sans-serif;
  position: relative;
  padding: .8em  4.7em .8em 1.4em;
  color: white;
  transition: .2s;
  max-width: 8em;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    right: -1em;
    padding-bottom: inherit;
    width: 2.8em;
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    transition: .2s;
  }
}

.decorateButton(@color) {
  background-color: @color;
  &:hover {
    background: darken(@color, 5%);
  }
  &:active,
  &:focus {
    background: darken(@color, 20%);
  }
}

.postPreview__readMore {

  a {
    color: #fff;
  }

  &:after {
    content: "\F054";
  }
  &:hover:after {
    animation: bounceright .3s alternate ease infinite;
  }
}

@keyframes bounceright {
  from { transform: translateX(0); }
  to   { transform: translateX(3px); }
}

.sliderItem__image {
  width: 100%;
  vertical-align: top;
  height: auto;
  max-height: 260px;
}

.postPreview__slider {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}

.sliderItem {
  display: none;
}

.slider__arrowLeft,
.slider__arrowRight {
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 12px rgba(0,0,0, 0.6);
  z-index: 1;
  top: 0;
  bottom: 0;
  padding: 0px 10px;

  &:hover {
    color: rgba(0,0,0, 0.4);
  }
}


.slider__arrowLeft {
  left: 0;
}

.slider__arrowRight {
  right: 0;
}


.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .1
  }
  to {
    opacity: 1
  }
}