@body-background-color: rgb(243, 243, 243);
@main-background-color: rgb(255, 255, 255);
@border-line: #e5e5e5;
@badge-text-color: rgb(255, 255, 255);
@grey-secondary: #5b5f6d;
@badge__text: rgb(50, 126, 163);
@badge__photo: #6ca338;