@body-background-color: rgb(243, 243, 243);
@main-background-color: rgb(255, 255, 255);
@border-line: #e5e5e5;
@badge-text-color: rgb(255, 255, 255);
@secondary-text: #5b5f6c;
@social-icon: #c3c3c3;
@text-highlighting: #4ca5d0;
@background-highlighting: #e5e5e5;

@badge__text: rgb(50, 126, 163);
@badge__photo: #6ca338;
@badge__music: #ffbc38;
@badge-video: #e82c0c;
@badge-link: #4ca5d0;