header {
    width: 100%;
    border-bottom: 1px solid @border-line;
    background-color: @main-background-color;

    h4 {
        color: #4ca5d0;
        margin-top: 8px;
    }
}

.userProfile {
    display: flex;
    padding: 30px;
}

.userProfileAvatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.userProfileInfo {
    display: inline-block;
}

