header {
    width: 100%;
    border-bottom: 1px solid @border-line;
    background-color: @main-background-color;
    font-size: 1.3em;
    font-weight: bold;

    .speciality {
      display: block;
      color: #4ca5d0;

      font-size: .8em;
      margin-top: 8px;
    }
}

.userProfile {
    display: flex;
    padding: 30px;
}

.userProfile__avatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
