@import "responsive";

// typography
a {
  color: @secondary-text;
}
body {
  background-color: @body-background-color;

  .responsive(@media-mobileMin, @media-mobileMax,  {
    background-color: @main-background-color;
  })
}

.gradient {
  position: fixed;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right,
  @badge__text 20%,
  @badge-link 20%, @badge-link 40%,
  @badge__photo 40%, @badge__photo 60%,
  @badge__music 60%, @badge__music 80%,
  @badge-video 80%);
}

.wrapper {
  padding-top: 44px;
  width: 64%;
  min-width: 600px;
  max-width: 820px;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  padding-bottom: 30px;

  .responsive(@media-mobileMin, @media-mobileMax,  {
    padding-top: 20px;
    min-width: 320px;
    width: 100%;
  });

  .responsive(@media-mobileMax+1, @media-smartphonesMax,  {
    width: 70%;
  });
}

.socialHub {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  color: @social-icon;

  .icon {
    margin-right: 20px;
  }
  .responsive(@media-mobileMin, @media-smartphonesMax,  {
    margin-bottom: 10px;
  })
}

.icon:hover {
  color: @text-highlighting;
}

.socialHub--rss:before{
  content: "\f09e";
}

.socialHub--facebook:before{
  content: "\f09a";
}

.socialHub--twitter:before{
  content: "\f099";
}

.socialHub--google:before{
  content: "\f0d5";
}

.socialHub--linkedin:before{
  content: "\f0e1";
}

.socialHub--dribble:before{
  content: "\f17d";
}

.socialHub--vimeo:before{
  content: "\f27d";
}

main {
  display: flex;
  background-color: @main-background-color;

  .responsive(@media-mobileMin, @media-smartphonesMax,  {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  });
}

// tags
.tags {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags>:not(:last-child) {
  margin-right: 6px;
}

.tag__title {
  font-size: 0.75em;
}

.icon {
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.3em;
  color: @social-icon;
}

.tag--author:before,
.tag--comments:before,
.tag--topics:before,
.tag--date:before {
  font-family: 'FontAwesome', sans-serif;
}

.tag--date:before {
  content: "\f017";
}
.tag--author:before{
  content: "\f007";
}
.tag--comments:before{
  content: "\f075";
}
.tag--topics:before {
  content: "\f036";
}


// ******************************************

// pagination
.pagination {
  border-top: 1px solid @border-line;
  padding: 20px 0 20px 30px;

  .responsive(@media-mobileMin, @media-mobileMax,  {
    padding: 10px 0;
    font-size: 0.8em;
  })
}

.pagination__page {
  display: inline-block;
  padding: 0 8px;
}

.pagination__page:hover {
  background-color: rgba(0,0,0,0.1);
}
// ******************************************

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.6em;
  color: @secondary-text;

  .responsive(@media-mobileMin, @media-mobileMax,  {
    margin-left: 10px;
    margin-right: 10px;
  })
}