@import "responsive";
@import "variables";
@import "fontAwesome";

// typography
a {
  color: @c-secondaryText;
}
body {
  background-color: @c-bodyBackground;
  overflow-y: scroll;

  .responsive(@mq-mobileMin, @mq-mobileMax,  {
    background-color: @c-mainBackground;
  })
}

.gradient {
  position: fixed;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right,
  @c-gradientFirst 20%,
  @c-gradientSecond 20%, @c-gradientSecond 40%,
  @c-gradientThird 40%, @c-gradientThird 60%,
  @c-gradientFourth 60%, @c-gradientFourth 80%,
  @c-gradientFifth 80%);
}

.wrapper {
  padding-top: 44px;
  width: 64%;
  max-width: 820px;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  padding-bottom: 30px;

  .responsive(@mq-mobileMin, @mq-mobileMax,  {
    padding-top: 20px;
    min-width: 320px;
    width: 100%;
  });

  .responsive(@mq-mobileMax+1, @mq-smartphoneMax,  {
    width: 70%;
  });

  .responsive(@mq-smartphoneMax+1, @mq-tabletMax, {
    width: 80%;
  })
}

.socialHub {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  color: @c-socialsIcon;

  & > :hover {
    color: @c-linkHighlighting;
  }

  & > :not(:last-child) {
    margin-right: 0.8em;
  }
}

.socialHub--rss:before{
  .fontAwesome("\f09e", 1.3em);
}

.socialHub--facebook:before{
  .fontAwesome("\f09a", 1.3em);
}

.socialHub--twitter:before{
  .fontAwesome("\f099", 1.3em);
}

.socialHub--google:before{
  .fontAwesome("\f0d5", 1.3em);
}

.socialHub--linkedin:before{
  .fontAwesome("\f0e1", 1.3em);
}

.socialHub--dribble:before{
  .fontAwesome("\f17d", 1.3em);
}

.socialHub--vimeo:before{
  .fontAwesome("\f27d", 1.3em);
}

.socialHub--rss:before,
.socialHub--facebook:before,
.socialHub--twitter:before,
.socialHub--google:before,
.socialHub--linkedin:before,
.socialHub--dribble:before,
.socialHub--vimeo:before {
  .responsive(@mq-mobileMin, @mq-smartphoneMax, {
    font-size: 1em;
  })
}


main {
  display: flex;
  background-color: @c-mainBackground;

  .responsive(@mq-mobileMin, @mq-smartphoneMax,  {
    flex-direction: column;
  });
}

// tags
.tags {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags>:not(:last-child) {
  margin-right: 6px;
}

.tag__title {
  font-size: 0.75em;
}

.icon {
  font-size: 1.3em;

  color: @c-socialsIcon;
}

.tag--date:before {
  .fontAwesome("\f017", 1em);
}
.tag--author:before{
  .fontAwesome("\f007", 1em);
}
.tag--comments:before{
  .fontAwesome("\f075", 1em);
}
.tag--topics:before {
  .fontAwesome("\f036", 1em);
}


// ******************************************

// pagination
.pagination {
  padding: 20px 0 20px 30px;

  .responsive(@mq-mobileMin, @mq-mobileMax,  {
    padding: 10px 0;
    font-size: 0.8em;
  })
}

.pagination__page {
  display: inline-block;
  padding: 0 8px;
}

.pagination__page:hover {
  background-color: rgba(0,0,0,0.1);
}
// ******************************************

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.6em;
  color: @c-secondaryText;

  .responsive(@mq-mobileMin, @mq-mobileMax,  {
    margin-left: 10px;
    margin-right: 10px;
  })
}