@media screen and (min-width: 0px) and (max-width: 320px) {
  .post__header {
    height: 40px;
  }
  .post__header .tags {
    max-width: 270px;
  }
  .postBadge {
    margin-left: 0;
    font-size: .8em;
    height: 40px;
  }
  .postBadge__label {
    width: 40px;
  }
  .breadCrumbs {
    max-width: 400px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
  main {
    flex-direction: column;
  }
  .userProfile {
    padding: 10px;
  }
  .userProfile__avatar {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }
  .postsList,
  .asideWrapper {
    width: 100%;
  }
  .post__header {
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid;
  }
  .tags {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .asideWidget--recentPost .tags {
    flex-direction: row;
  }
  .tag__author,
  .tag__comments,
  .tag__topics {
    margin-bottom: 20px;
  }
  .postPreview {
    margin: 0;
  }
  .postPreview__title,
  .postPreview__img,
  .postPreview__description,
  .postPreview__read-more-button {
    margin-bottom: 10px;
  }
  .postPreview__img {
    width: 100%;
    height: 240px;
  }
  .postBadge {
    width: 100%;
    height: 40px;
    margin-left: 0;
  }
  .aside {
    width: 100%;
  }
  .asideWidget--calendar {
    margin: 0 auto;
    max-width: 300px;
  }
  .pagination {
    padding: 10px 0;
    font-size: 0.8em;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 70%;
  }
  .aside {
    width: 100%;
  }
  main {
    flex-direction: column;
  }
  .userProfile {
    padding: 10px;
  }
  .userProfile__avatar {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }
  h3 {
    font-size: 1em;
  }
  h4 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.8em;
  }
  .postsList {
    width: 100%;
  }
  .blogTitle {
    margin-left: 5px;
    height: 20px;
  }
  .blogTitle p {
    margin: 2px 0;
  }
  .post__header {
    flex-direction: column;
    height: 125px;
    margin-bottom: 0;
  }
  .tags {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .asideWidget--recentPost .tags {
    flex-direction: row;
  }
  .tag__author,
  .tag__comments,
  .tag__topics {
    margin-bottom: 20px;
  }
  .postPreview {
    margin: 0;
  }
  .postPreview__title,
  .postPreview__img,
  .postPreview__description,
  .postPreview__read-more-button {
    margin-bottom: 10px;
  }
  .postPreview__img {
    width: 100%;
    height: 240px;
  }
  .postBadge {
    width: 100%;
    margin-left: 0;
  }
  .asideWidget {
    width: 100%;
  }
  .asideWidget--calendar {
    margin: 0 auto;
    max-width: 300px;
  }
  .pagination {
    padding: 10px 0;
    font-size: 0.8em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .wrapper {
    width: 80%;
  }
  .postPreview {
    margin-left: 15px;
    margin-right: 15px;
  }
  .asideWidget--calendar {
    max-width: 300px;
  }
}
