a {
  color: #878787;
}
body {
  background-color: #141414;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  body {
    background-color: #282828;
  }
}
.gradient {
  position: fixed;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #327ea3 20%, #4ca5d0 20%, #4ca5d0 40%, #6ca338 40%, #6ca338 60%, #ffbc38 60%, #ffbc38 80%, #e82c0c 80%);
}
.wrapper {
  padding-top: 44px;
  width: 64%;
  max-width: 820px;
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  padding-bottom: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .wrapper {
    padding-top: 20px;
    min-width: 320px;
    width: 100%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .wrapper {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .wrapper {
    width: 80%;
  }
}
.socialHub {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
  color: #3b3b3b;
}
.socialHub .icon {
  margin-right: 0.8em;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .socialHub .icon {
    font-size: 1em;
  }
}
.icon:not(.postBadge):hover {
  color: #4794ba;
}
.socialHub--rss:before {
  content: "\f09e";
}
.socialHub--facebook:before {
  content: "\f09a";
}
.socialHub--twitter:before {
  content: "\f099";
}
.socialHub--google:before {
  content: "\f0d5";
}
.socialHub--linkedin:before {
  content: "\f0e1";
}
.socialHub--dribble:before {
  content: "\f17d";
}
.socialHub--vimeo:before {
  content: "\f27d";
}
main {
  display: flex;
  background-color: #282828;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  main {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tags > :not(:last-child) {
  margin-right: 6px;
}
.tag__title {
  font-size: 0.75em;
}
.icon {
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.3em;
  color: #3b3b3b;
}
.tag--author:before,
.tag--comments:before,
.tag--topics:before,
.tag--date:before {
  font-family: 'FontAwesome', sans-serif;
}
.tag--date:before {
  content: "\f017";
}
.tag--author:before {
  content: "\f007";
}
.tag--comments:before {
  content: "\f075";
}
.tag--topics:before {
  content: "\f036";
}
.pagination {
  border-top: 1px solid #3b3b3b;
  padding: 20px 0 20px 30px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .pagination {
    padding: 10px 0;
    font-size: 0.8em;
  }
}
.pagination__page {
  display: inline-block;
  padding: 0 8px;
}
.pagination__page:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-weight: bold;
  font-size: 0.6em;
  color: #878787;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  footer {
    margin-left: 10px;
    margin-right: 10px;
  }
}
header {
  border-bottom: 1px solid #3b3b3b;
  background-color: #282828;
  font-size: 1.3em;
  font-weight: bold;
}
header .speciality {
  display: block;
  color: #4ca5d0;
  font-size: .8em;
  margin-top: 8px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  header {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.userProfile {
  display: flex;
  padding: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .userProfile {
    padding: 10px;
  }
}
.userProfile__avatar {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .userProfile__avatar {
    width: 75px;
    height: 75px;
    margin-right: 10px;
  }
}
.postsList {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid #3b3b3b;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .postsList {
    border-right: 0;
    width: 100%;
  }
}
.breadCrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  margin: 10px;
  color: #878787;
}
.breadCrumbs__item:not(:first-child):before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f054";
  font-size: 0.6em;
  margin-left: 4px;
  margin-right: 2px;
}
.breadCrumbs__item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #878787;
}
.breadCrumbs__item:last-child {
  flex: 10 0 auto;
  text-overflow: clip;
}
.breadCrumbs__item:hover {
  color: #fff;
}
.post__header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid #3b3b3b;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .post__header {
    flex-direction: column;
    height: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #3b3b3b;
  }
  .post__header .tags {
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
  }
}
.postBadge {
  display: flex;
  align-items: center;
  height: 60px;
  width: 34%;
  margin-left: -60px;
  margin-right: 10px;
  color: #ffffff;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .postBadge {
    width: 100%;
    height: 40px;
    margin: 0;
  }
}
.post--text .postBadge {
  background-color: #327ea3;
}
.post--text .postBadge__label:after {
  content: "\f040";
}
.post--text .postPreview__readMore {
  background-color: #327ea3;
}
.post--text .postPreview__readMore:hover {
  background: #2c6f8f;
}
.post--text .postPreview__readMore:active,
.post--text .postPreview__readMore:focus {
  background: #1a4255;
}
.post--photo .postBadge {
  background-color: #6ca338;
}
.post--photo .postBadge__label:before {
  content: "\f030";
}
.post--photo .postPreview__readMore {
  background-color: #6ca338;
}
.post--photo .postPreview__readMore:hover {
  background: #5f9031;
}
.post--photo .postPreview__readMore:active,
.post--photo .postPreview__readMore:focus {
  background: #3a571e;
}
.post--video .postBadge {
  background-color: #e82c0c;
}
.post--video .postBadge__label:before {
  content: "\f06e";
}
.post--video .postPreview__readMore {
  background-color: #e82c0c;
}
.post--video .postPreview__readMore:hover {
  background: #d0270b;
}
.post--video .postPreview__readMore:active,
.post--video .postPreview__readMore:focus {
  background: #871a07;
}
.postBadge__label {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  color: #fff;
  border-right: 1px solid #3b3b3b;
}
.postBadge__date {
  flex: 1 1 auto;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 0.7em;
}
.postPreview {
  margin: 0 15px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .postPreview {
    margin: 0;
  }
}
.postPreview__title,
.postPreview__img,
.postPreview__description,
.postPreview__readMore {
  margin-bottom: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .postPreview__title,
  .postPreview__img,
  .postPreview__description,
  .postPreview__readMore {
    margin-bottom: 10px;
  }
}
.postPreview__img {
  width: 100%;
  height: auto;
  max-height: 250px;
}
.postPreview__description {
  color: #878787;
}
.button {
  font-family: 'Nunito', sans-serif;
  position: relative;
  padding: .8em  4.7em .8em 1.4em;
  color: white;
  transition: .2s;
  max-width: 8em;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
}
.button:before,
.button:after {
  position: absolute;
  bottom: 0;
  right: -1em;
  padding-bottom: inherit;
  width: 2.8em;
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
  transition: .2s;
}
.postPreview__readMore a {
  color: #fff;
}
.postPreview__readMore:after {
  content: "\F054";
}
.postPreview__readMore:hover:after {
  animation: bounceright .3s alternate ease infinite;
}
@keyframes bounceright {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(3px);
  }
}
.sliderItem__image,
.sliderItem__image--1 {
  width: 100%;
  vertical-align: top;
  height: auto;
  max-height: 260px;
}
.postPreview__slider {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
.postPreview__slider:hover {
  cursor: pointer;
}
.sliderItem {
  display: none;
  position: relative;
}
.slider__arrowLeft,
.slider__arrowRight {
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
  z-index: 1;
  top: 0;
  bottom: 0;
  padding: 0px 10px;
  background: none repeat scroll 0 0 transparent;
}
.slider__arrowLeft:focus,
.slider__arrowRight:focus {
  outline: 0;
}
.slider__arrowLeft:hover,
.slider__arrowRight:hover {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.slider__arrowLeft {
  left: 0;
}
.slider__arrowRight {
  right: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
.asideWrapper {
  width: 30%;
  min-width: 200px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .asideWrapper {
    width: 100%;
  }
}
.asideWidget {
  padding: 20px 10px;
  border-bottom: 1px solid #3b3b3b;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .asideWidget {
    padding: 20px 0;
  }
}
.asideWidget__title {
  color: #fff;
  margin-bottom: 20px;
}
.asideWidget__list {
  color: #878787;
}
.u-fs-8 {
  font-size: 0.8em;
}
.u-mb-10:not(:last-child) {
  margin-bottom: 10px;
}
.topic__item > :first-child :before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f138";
  font-size: 1.1em;
  margin-right: 5px;
  color: #4794ba;
}
.topic__item > :first-child :hover {
  color: #4794ba;
}
.recentPost__title:hover {
  color: #4794ba;
}
.twitter__link {
  display: block;
  color: #4794ba;
}
.asideWidget--tags .asideWidget__list {
  display: flex;
  flex-wrap: wrap;
}
.tag__item {
  margin-right: 4px;
  padding: 5px;
  background-color: #3b3b3b;
  margin-bottom: 4px;
  font-size: .9em;
  font-weight: 400;
}
.tag__item:hover {
  background-color: #1fa3e3;
}
.tag__item:hover .isHover {
  color: #fff;
}
.asideWidget--calendar {
  padding-left: 0;
  max-width: 300px;
}
@media only screen and (min-width: 0px) and (max-width: 480px) {
  .asideWidget--calendar {
    margin: 0 auto;
    max-width: 300px;
  }
}
.calendar {
  margin: 0 auto;
  font-size: 0.7em;
  color: #878787;
}
.calendar table {
  width: 90%;
  margin: 0 auto;
}
.calendar caption {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}
.calendar td,
.calendar th {
  padding: 4px;
  text-align: center;
  cursor: default;
}
.calendar th {
  color: #1fa3e3;
}
.calendar .active,
.calendar .toDay {
  background-color: #3b3b3b;
}
.calendar td:hover {
  background-color: #1fa3e3;
  color: white;
}
.asideWidget__commentator {
  color: #4794ba;
}
.recentComment__item:hover .isHover {
  color: #4794ba;
}
