// colors

  // white theme
//@body-background-color: rgb(243, 243, 243);
//@main-background-color: rgb(255, 255, 255);
//@border-line: #e5e5e5;
//@badge-text-color: rgb(255, 255, 255);
//@aside-widget-title: #000;
//@secondary-text: #5b5f6c;
//@social-icon: #c3c3c3;
//@text-highlighting: #4ca5d0;
//@breadCrumb-highlighting: #000;
//@background-highlighting: #e5e5e5;


  //black theme
@body-background-color: #141414;
@main-background-color: #282828;
@border-line: #3b3b3b;
@badge-text-color: rgb(255, 255, 255);
@aside-widget-title: #fff;
@secondary-text: #878787;
@social-icon: #3b3b3b;
@text-highlighting: #4794ba;
@breadCrumb-highlighting: #fff;
@background-highlighting: #3b3b3b;

// badge-colors
@badge__text: rgb(50, 126, 163);
@badge__photo: #6ca338;
@badge__music: #ffbc38;
@badge-video: #e82c0c;
@badge-link: #4ca5d0;

// constants

@media-mobileMin: 0px;
@media-mobileMax: 480px;
@media-smartphonesMax: 767px;
@media-tabletMax: 1280px;