a {
    color: #5b5f6c
}

body {
    background-color: #f3f3f3
}

.gradient {
    position: fixed;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #327ea3 20%, #4ca5d0 20%, #4ca5d0 40%, #6ca338 40%, #6ca338 60%, #ffbc38 60%, #ffbc38 80%, #e82c0c 80%)
}

.wrapper {
    padding-top: 44px;
    width: 64%;
    min-width: 600px;
    max-width: 820px;
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    padding-bottom: 30px
}

.socialHub {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    color: #c3c3c3
}

.socialHub .icon {
    margin-right: 20px
}

.icon:hover {
    color: #4ca5d0
}

.socialHub--rss:before {
    content: "\f09e"
}

.socialHub--facebook:before {
    content: "\f09a"
}

.socialHub--twitter:before {
    content: "\f099"
}

.socialHub--google:before {
    content: "\f0d5"
}

.socialHub--linkedin:before {
    content: "\f0e1"
}

.socialHub--dribble:before {
    content: "\f17d"
}

.socialHub--vimeo:before {
    content: "\f27d"
}

main {
    display: flex;
    min-width: 600px;
    width: 100%;
    background-color: #fff
}

.tags {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.tags > :not(:last-child) {
    margin-right: 6px
}

.tag__title {
    font-size: .75em
}

.icon {
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.3em;
    color: #c3c3c3
}

.tag--author:before, .tag--comments:before, .tag--topics:before, .tag--date:before {
    font-family: 'FontAwesome', sans-serif
}

.tag--date:before {
    content: "\f017"
}

.tag--author:before {
    content: "\f007"
}

.tag--comments:before {
    content: "\f075"
}

.tag--topics:before {
    content: "\f036"
}

.pagination {
    border-top: 1px solid #e5e5e5;
    padding: 20px 0 20px 30px
}

.pagination__page {
    display: inline-block;
    padding: 0 8px
}

.pagination__page:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-weight: bold;
    font-size: .6em;
    color: #5b5f6c
}

header {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    font-size: 1.3em;
    font-weight: bold
}

header .speciality {
    display: block;
    color: #4ca5d0;
    font-size: .8em;
    margin-top: 8px
}

.userProfile {
    display: flex;
    padding: 30px
}

.userProfile__avatar {
    width: 100px;
    height: 100px;
    margin-right: 20px
}

.postsList {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-right: 1px solid #e5e5e5
}

.breadCrumbs {
    display: flex;
    flex-wrap: nowrap;
    font-size: .8em;
    max-width: 560px;
    width: 100%;
    margin: 10px;
    color: #5b5f6c
}

.breadCrumbs__item:not(:first-child):before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f054";
    font-size: .6em;
    margin-left: 4px;
    margin-right: 2px
}

.breadCrumbs__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5b5f6c
}

.breadCrumbs__item:last-child {
    flex: 10 0 auto;
    text-overflow: clip
}

.breadCrumbs__item:hover {
    color: black
}

.post__header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px solid #e5e5e5
}

.postBadge {
    display: flex;
    align-items: center;
    height: 60px;
    width: 34%;
    margin-left: -60px;
    margin-right: 10px;
    color: #fff
}

.post--text .postBadge {
    background-color: #327ea3
}

.post--text .postBadge__label:before {
    content: "\f040"
}

.post--text .postPreview__readMore {
    background-color: #327ea3
}

.post--text .postPreview__readMore:hover {
    background: #2c6f8f
}

.post--text .postPreview__readMore:active, .post--text .postPreview__readMore:focus {
    background: #1a4255
}

.post--photo .postBadge {
    background-color: #6ca338
}

.post--photo .postBadge__label:before {
    content: "\f030"
}

.post--photo .postPreview__readMore {
    background-color: #6ca338
}

.post--photo .postPreview__readMore:hover {
    background: #5f9031
}

.post--photo .postPreview__readMore:active, .post--photo .postPreview__readMore:focus {
    background: #3a571e
}

.post--video .postBadge {
    background-color: #e82c0c
}

.post--video .postBadge__label:before {
    content: "\f06e"
}

.post--video .postPreview__readMore {
    background-color: #e82c0c
}

.post--video .postPreview__readMore:hover {
    background: #d0270b
}

.post--video .postPreview__readMore:active, .post--video .postPreview__readMore:focus {
    background: #871a07
}

.postBadge__label {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    color: #fff;
    border-right: 1px solid #e5e5e5
}

.postBadge__date {
    flex: 1 1 auto;
    text-align: center
}

.postPreview {
    margin: 0 30px;
    padding-bottom: 10px
}

.postPreview__title, .postPreview__img, .postPreview__description, .postPreview__readMore {
    margin-bottom: 30px
}

.postPreview__img {
    display: flex;
    width: 100%;
    height: 250px
}

.button {
    font-family: 'Nunito', sans-serif;
    position: relative;
    padding: .8em 4.7em .8em 1.4em;
    color: white;
    transition: .2s;
    min-width: 15em;
    font-size: .75em;
    text-transform: uppercase;
    font-weight: bold
}

.button:before, .button:after {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: inherit;
    width: 2.8em;
    font-family: 'FontAwesome', sans-serif;
    font-size: 1.2em;
    transition: .2s
}

.postPreview__readMore:after {
    content: "\F054"
}

.postPreview__readMore:hover:after {
    animation: bounceright .3s alternate ease infinite
}

@keyframes bounceright {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(3px)
    }
}

.asideWrapper {
    width: 30%;
    min-width: 200px
}

.asideWidget {
    padding: 20px 10px;
    border-bottom: 1px solid #e5e5e5
}

.asideWidget__title {
    margin-bottom: 20px
}

.asideWidget__list {
    color: #5b5f6c
}

.u-fs-8 {
    font-size: .8em
}

.u-mb-10:not(:last-child) {
    margin-bottom: 10px
}

.topic__item > :first-child :before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f138";
    font-size: 1.1em;
    margin-right: 5px;
    color: #4ca5d0
}

.topic__item > :first-child :hover {
    color: #4ca5d0
}

.recentPost__title:hover {
    color: #4ca5d0
}

.twitter__link {
    display: block;
    color: #4ca5d0
}

.asideWidget--tags .asideWidget__list {
    display: flex;
    flex-wrap: wrap
}

.tag__item {
    margin-right: 4px;
    padding: 5px;
    background-color: #e5e5e5;
    margin-bottom: 4px;
    font-size: .9em;
    font-weight: 400
}

.tag__item:hover {
    background-color: #1fa3e3
}

.tag__item:hover .isHover {
    color: #fff
}

.asideWidget--calendar {
    padding: 20px 10px;
    font-size: .7em
}

.asideWidget--calendar table {
    width: 90%;
    margin: 0 auto
}

.asideWidget--calendar caption {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px
}

.asideWidget--calendar td, .asideWidget--calendar th {
    padding: 4px;
    text-align: center;
    cursor: default
}

.asideWidget--calendar th {
    color: #1fa3e3
}

.asideWidget--calendar .active, .asideWidget--calendar .toDay {
    background-color: #e5e5e5
}

.asideWidget--calendar td:hover {
    background-color: #1fa3e3;
    color: white
}

.asideWidget__commentator {
    color: #4ca5d0
}

.recentComment__item:hover .isHover {
    color: #4ca5d0
}

@media screen and (min-width: 0) and (max-width: 320px) {
    .post__header {
        height: 40px
    }

    .post__header .tags {
        max-width: 270px
    }

    .postBadge {
        margin-left: 0;
        font-size: .8em;
        height: 40px
    }

    .postBadge__label {
        width: 40px
    }

    .breadCrumbs {
        max-width: 400px
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .wrapper {
        width: 100%
    }

    main {
        flex-direction: column
    }

    .userProfile {
        padding: 10px
    }

    .userProfile__avatar {
        width: 75px;
        height: 75px;
        margin-right: 10px
    }

    .postsList {
        border-right: 0
    }

    .postsList, .asideWrapper {
        width: 100%
    }

    .post__header {
        flex-direction: column;
        height: 100%;
        margin-bottom: 10px;
        border-bottom: 1px solid #e5e5e5
    }

    .post__header .tags {
        flex-direction: column;
        width: 100%;
        margin: 10px 0
    }

    .asideWidget--recentPost .tags {
        flex-direction: row
    }

    .postPreview {
        margin: 0
    }

    .postPreview__title, .postPreview__img, .postPreview__description, .postPreview__read-more-button {
        margin-bottom: 10px
    }

    .postPreview__img {
        width: 100%;
        height: 240px
    }

    .postBadge {
        width: 100%;
        height: 40px;
        margin: 0
    }

    .asideWidget--calendar {
        margin: 0 auto;
        max-width: 300px
    }

    .pagination {
        padding: 10px 0;
        font-size: .8em
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .wrapper {
        width: 70%
    }

    .asideWrapper {
        width: 100%
    }

    main {
        flex-direction: column
    }

    .userProfile {
        padding: 10px
    }

    .userProfile__avatar {
        width: 75px;
        height: 75px;
        margin-right: 10px
    }

    .postsList {
        width: 100%
    }

    .post__header {
        height: 80px;
        flex-direction: column;
        border-bottom: 1px solid #e5e5e5
    }

    .post__header .tags {
        margin: 10px 0
    }

    .tags {
        flex-direction: column;
        width: 100%
    }

    .postPreview {
        margin: 0
    }

    .postPreview__title, .postPreview__img, .postPreview__description, .postPreview__read-more-button {
        margin-bottom: 10px
    }

    .postPreview__img {
        width: 100%;
        height: 240px
    }

    .postBadge {
        width: 100%;
        height: 40px;
        margin: 0
    }

    .asideWidget {
        width: 100%
    }

    .asideWidget--calendar {
        margin: 0 auto;
        max-width: 300px
    }

    .pagination {
        padding: 10px 0;
        font-size: .8em
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .wrapper {
        width: 80%
    }

    .postPreview {
        margin-left: 15px;
        margin-right: 15px
    }

    .asideWidget--calendar {
        max-width: 300px
    }
}